body { -webkit-transform: translateZ(0); }

.animated {
  -webkit-animation: 1s ease;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}

	80% {
		-webkit-transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	visibility: visible !important;
}

@-webkit-keyframes bounceOutDown {
	0% {
		-webkit-transform: translateY(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		visibility: hidden !important;
	}
}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
}